@import "variables";

//reset css
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #970747, #283e56);
    font-family: 'Kosugi', sans-serif;
}


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title{
    margin-top: 5em;
    margin-bottom: 3em;
    h1{
        font-size: 3em;
        color: $primary-color;
    }
}

form{
    .text{
        width: 350px;
        height: 50px;
        color: $primary-color;
        font-size: 20px;
        border: 0.5px solid $primary-color;
        border-radius: 3px;
        outline: none;
        margin-bottom: 35px;
        margin-right: 20px;
        padding-left: 10px;
        background-color: #970747;
    }
    .button{
        width: 50px;
        height: 50px;
        color: $primary-color;
        font-size: 20px;
        border: 0.5px solid $primary-color;
        border-radius: 3px;
        outline: none;
        background-color: #283e56;
    }
}

::-webkit-input-placeholder {
    color: $primary-color;
    font-family: 'Kosugi';
}
:-moz-placeholder { /* Firefox 18- */
    color: $primary-color;
    font-family: 'Kosugi';
}
::-moz-placeholder { /* Firefox 19+ */
    color: $primary-color;
    font-family: 'Kosugi';
}
:-ms-input-placeholder {
    color: $primary-color;
    font-family: 'Kosugi';
}


.list{
    width: 400px;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            list-style: none;
            color: $primary-color;
            padding: 5px;
        }
        input{
            width: 27px;
            height: 27px;
            color: $primary-color;
            font-size: 18px;
            border: 0.5px solid $primary-color;
            border-radius: 3px;
            outline: none;
            background-color: #283e56;
        }
    }
}